  <form>
      <div>
        <h1>Register</h1>
        <p>Kindly fill in this form to register.</p>
          <form>
      <div>
        <h1>Register</h1>
        <p>Kindly fill in this form to register.</p>
          <label for="firstname"><b>firstname</b></label>
        <input
          type="text"
          placeholder="Enter firstname"
          name="firstname"
          id="firstname"
          required
        />

        <label for="lastname"><b>lastname</b></label>
        <input
          type="text"
          placeholder="Enter lastname"
          name="lastname"
          id="lastname"
          required
        />
          <label for="username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          id="username"
          required
        />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />
        <label for="pwd"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="pwd"
          id="pwd"
          required
        />
      </div>
      <div></div>
    </form>
